build/
target/
*.class
*.iml
*.ipr
*.iws
*.jar
*.swp
.classpath
.idea
.idea/
.project
.settings
.settings/
/checkouts
/classes
/derby.log
/integration-tests/.bundle
/integration-tests/bin
/lib
/log
/tmp
out/
*~
.DS_Store
